editor/
client/nuevo-proyecto-de-juego/.godot/
client/nuevo-proyecto-de-juego/.import/

node_modules/
backend/node_modules/
tutor-panel/node_modules/
dist/
tutor-panel/dist/

.env
backend/.env
tutor-panel/.env